<%= form_with model: @message, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.submit "送信" %>
  </div>
<% end %>